version: '3.8'

services:
  openWeatherDb:
    container_name: auth_service
    image: postgres:17.5
    environment:
      POSTGRES_DB: authService
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 123
    ports:
      - "1001:5432"

  prometheus:
    image: prom/prometheus:v2.44.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
      image: grafana/grafana:9.5.2
      container_name: grafana
      ports:
        - "3000:3000"
      restart: unless-stopped
      volumes:
        - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources